
<ion-header>
  <ion-navbar>
    <ion-title>
Register 
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="login" style="background-image:url('http://18press.com/photos/18press/30/146797.jpg');background-repeat: no-repeat;background-size: 100% 100%">

 <ion-item>
   <ion-label>UserName</ion-label>
   <ion-input type="text" #username>UserName</ion-input>
  </ion-item>

  <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="text" #password>UserName</ion-input>
     </ion-item>

     <div padding >
        <button ion-button block outline (click)="signup()">Sign UP</button>
      </div>
</ion-content>
