<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>WELCOME </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding  style="background-image:url('http://18press.com/photos/18press/30/146797.jpg');background-repeat: no-repeat;background-size: 100% 100%">
  <div padding >
        <button ion-button block outline (click)="signin()">Sign in</button>
      </div>

      <div padding >
          <button ion-button block outline (click)="signup()">Sign Up</button>
        </div>
</ion-content>