<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  color="primary">
    <ion-title >ADD</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-item>
  <ion-label floating >Student name</ion-label>
  <ion-input type="text"[(ngModel)]="std.studentname"></ion-input>
 
</ion-item>

<ion-item>
  <ion-label floating >Student num</ion-label>
  <ion-input type="number" [(ngModel)]="std.studentnumber"></ion-input>
 
</ion-item>
<button ion-button block (click)="addstudent(std)" >Add student</button>
</ion-content>
